.container {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pool {
    display: flex;
    justify-content: space-around;
}

.comp {
    display: flex;
    flex-direction: column;
    div {
        display: flex;
        justify-content: space-between;
        width: 20%;
    }
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}

.validation {
    font-size: large;
}

.valid {
    color: lightgreen;
}

.not-valid {
    color: darkorange;
}