<div class="container">
  <div class="title">
    <h1>FANTA WOLDS</h1>
  </div>

  <h3>
    Una volta fatta la formazione inseritela qua: <a style="background-color: white;" target="_blank" href="https://docs.google.com/forms/d/17Rj50R59IkBQ3s5lWgsV4PQgl7b28Zw8sXJfRX0Ju7Y">WORLDS FORM</a><br>
    Punteggio e regole: <a style="background-color: white;" target="_blank" href="https://docs.google.com/spreadsheets/d/1pPwGFhNCSpsckB43kj0X7ndz-eQHEi82kv4VxXMXC_I">PUNTI E REGOLE</a><br>
  </h3>

  <div>
    <h3>Regole</h3>
    <ul>
      <li>Massimo 2 giocatori per squadra, escluso il coach</li>
      <li>Non si può superare il massimo di crediti per la formazione</li>
    </ul>
  </div>

  <div [ngClass]="calculateCredit() >= 0 ? 'valid' : 'not-valid'">
    <h2>Crediti disponibili {{calculateCredit()}}</h2>
  </div>

  <div class="pool">
    <div>
      <label id="example-radio-group-label">Scegli il Toplaner</label>
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="comp.top" (change)="verifyComp()">
        <mat-radio-button class="example-radio-button" *ngFor="let topOption of playerPoolTop" [value]="topOption">
          {{topOption.player}} - {{topOption.team}} - {{topOption.value}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div>
      <label id="example-radio-group-label">Scegli il Jungler</label>
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
        [(ngModel)]="comp.jungle" (change)="verifyComp()">
        <mat-radio-button class="example-radio-button" *ngFor="let jngOption of playerPoolJng" [value]="jngOption">
          {{jngOption.player}} - {{jngOption.team}} - {{jngOption.value}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div>
      <label id="example-radio-group-label">Scegli il Midlaner</label>
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="comp.mid" (change)="verifyComp()">
        <mat-radio-button class="example-radio-button" *ngFor="let midOption of playerPoolMid" [value]="midOption">
          {{midOption.player}} - {{midOption.team}} - {{midOption.value}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div>
      <label id="example-radio-group-label">Scegli l'Adc</label>
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="comp.adc" (change)="verifyComp()">
        <mat-radio-button class="example-radio-button" *ngFor="let adcOption of playerPoolAdc" [value]="adcOption">
          {{adcOption.player}} - {{adcOption.team}} - {{adcOption.value}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div>
      <label id="example-radio-group-label">Scegli il Support</label>
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="comp.supp" (change)="verifyComp()">
        <mat-radio-button class="example-radio-button" *ngFor="let suppOption of playerPoolSupp" [value]="suppOption">
          {{suppOption.player}} - {{suppOption.team}} - {{suppOption.value}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div>
      <label id="example-radio-group-label">Scegli il Coach</label>
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="comp.coach" (change)="verifyComp()">
        <mat-radio-button class="example-radio-button" *ngFor="let coachOption of playerPoolCoach" [value]="coachOption">
          {{coachOption.player}} - {{coachOption.team}} - {{coachOption.value}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div class="comp">
    <h3>La tua comp è: {{comp.top?.player}} - {{comp.jungle?.player}} - {{comp.mid?.player}} - {{comp.adc?.player}} -
        {{comp.supp?.player}} -
        {{comp.coach?.player}}
    </h3>
    <div>
      <!-- <button mat-raised-button color="primary" (click)="verifyComp()">Verifica</button> -->
      <button mat-raised-button color="primary" [cdkCopyToClipboard]="copy()" [disabled]="!validComp">Copia formazione</button>
    </div>
  </div>


  <div class="validation" [ngClass]="validComp ? 'valid' : 'not-valid'">
    La tua comp è {{validComp ? 'VALIDA' : 'NON VALIDA - controlla di non aver superato i crediti massimi e di non aver messo più di 2 player per squadra'}}
  </div>
</div>